# types: linux,vim
# date:  20140405

# Created by http://www.gitignore.io

### Linux ###
*~

# KDE directory preferences
.directory


### vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

